.button {
    padding: 0 1.5rem;
    border-radius: $button-height / 2;
    height: $button-height;

    background-color: $color-text;
    border: none;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: $font-size-text;
    color: $color-background;
    text-decoration: none;

    transition: all 0.2s;
}

.button_main-header {
    background-color: $color-background;
    color: $color-light;
}

.button_currency {
    padding: 0;
    flex-grow: 1;
    background-color: $color-background;
    color: $color-light;
}

.button_currency:first-of-type {
    text-align: left;
}

.button_currency:last-of-type {
    text-align: right;
}

.button_x {
    position: absolute;
    right: 8px;
    top: 5px;

    display: block;
    @include size(35px);
    padding: 2px;
    justify-self: flex-start;

    background-color: $color-background;
    color: $color-light;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}

.button:hover {
    transform: scale(1.05);
}

.button_currency:hover {
    transform: scale(1);
}

.button_x:hover {
    transform: none;
}

.button_disabled {
    border: 1px solid darker($color-border, 8);

    background-color: darker($color-primary, 8);
    cursor: default;

    color: darker($color-text, 8);
}

.button_disabled:hover {
    border: 1px solid darker($color-border, 8);

    background-color: darker($color-primary, 8);
    cursor: default;
    box-shadow: none;

    color: darker($color-text, 8);
}
