.button {
    padding: 0 1.5rem;
    border-radius: $button-height / 2;
    height: $button-height;

    background-color: $color-text;
    border: none;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: $font-size-text;
    color: $color-background;
    text-decoration: none;

    transition: all 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

.button_disabled {
    border: 1px solid darker($color-border, 8);

    background-color: darker($color-primary, 8);
    cursor: default;

    color: darker($color-text, 8);
}

.button_disabled:hover {
    border: 1px solid darker($color-border, 8);

    background-color: darker($color-primary, 8);
    cursor: default;
    box-shadow: none;

    color: darker($color-text, 8);
}
