.input {
    border: none;
    outline: none;
    border-radius: 2px;

    background-color: $color-light;

    font-style: normal;
    font-weight: 500;
    font-size: $font-size-text_large;
    color: $color-text_dark;
    height: $input-height;
}

.input_new-group {
    width: 100%;

    text-align: center;
}

.input::-webkit-input-placeholder {
    font-size: $font-size-text_large;
    color: $color-placeholder;
    text-align: center;
}

.input:focus {
    border: 1px solid #ffffff;

    background-color: $color-focus;

    outline: none;
}

.input_valid {
    border: 1px solid $color-background-light;
}

.input_valid:focus {
    color: $color-text;
}

.input_invalid {
    position: relative;

    border: 1px solid $color-mistake;

    color: $color-mistake;
}

.input_invalid:focus {
    color: $color-text;
}
