.header-expense-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #ff7b00;
}
.header__wrapper-expense-detail {
    @extend %column;
    width: 100%;
    align-items: center;
}
.header-expense-detail-top {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.btn-expense-detail-arrow {
    cursor: pointer;
}
.btn-expense-detail-edit {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
.header-expense-detail-bottom {
    @extend %flex-row-align-center;
    width: 100%;
}
.expense-detail-bottom-svg {
    width: 50px;
    height: 50px;
    & svg {
        fill: white;
    }
}

.expense-detail-input {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: bold;
    // width: 20rem;
    &::placeholder {
        color: white;
    }
}

input.disabled {
    pointer-events: none;
}
input.bordered {
    border-bottom: 2px solid white;
}

.expense-detail-main {
    flex-grow: 2;
    width: 100%;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    background-color: #f0f0f0;
    color: black;
}

.expense-detail-created,
.expense-detail-amount,
.expense-detail-currency,
.expense-detail-by,
.expense-detail-for,
.expense-detail-created {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: white;
}

.expense-detail-number {
    &::after {
        content: '$';
    }
}

.expense-detail-balance {
    margin-top: 35px;
}
.expense-detail-block {
    display: flex;
    flex-direction: column;
    gap: $gap;
    width: 100%;
    font-size: 1.8rem;
    & a {
        color: black;
    }
    & a:hover {
        color: #909090;
    }
}

.expense-detail-wrap,
.expense-detail-wrap-goods {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.button-expense-detail {
    height: fit-content;
    padding: 8px 33px;
    border-radius: 25px;
    font-size: 2rem;
    background-color: white;
    margin-top: 20px;
}

.expense-detail-for-btn * {
    pointer-events: none;
}
.expense-detail-for-btn {
    cursor: pointer;
}

.modal-expense-detail-block-for {
    width: 70%;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}
.expense-detail-for-btn-wrap {
    @extend %flex-row-align-center;
    justify-content: center;
}
.modal-expense-detail-block {
    width: 300px;
    height: 150px;

    background-color: #ff7b00;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal1__trash-delete {
    height: fit-content;
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px 33px;
    border-radius: 25px;
    font-size: 2rem;
    background-color: white;
    border: none;
    color: #ff7b00;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }
}
.modal1__trash-cancel {
    height: fit-content;
    margin-top: 20px;
    padding: 8px 33px;
    border-radius: 25px;
    font-size: 2rem;
    background-color: white;
    border: none;
    color: #ff7b00;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }
}
.expense-detail-for-btn:hover {
    color: #9c9999;
}

.expense-detail-text {
    min-width: 20%;
}
.expense-detail-bottom-name {
    margin-left: 10px;
}
