.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    flex-grow: 1;
    gap: $gap;
}

.main_start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    gap: $gap;
}

.main_new-group-page {
    padding: 1rem;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    gap: $gap;
}

.main__wrapper_start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    gap: $gap;
}

.main__wrapper_new-group-page {
    padding: 0;
}

.main__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
