.members-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
}

.members-list__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;

    font-size: $font-size-text;
    background-color: $color-light;
    color: $color-dark;
    cursor: pointer;
}
