@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin modal($width, $bgColor, $opacity) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $width;
  background-color: $bgColor;
  opacity: $opacity;
  transform: translateX(-100%);
  transition: 0.5s;
}

@mixin modal1($width, $opacity) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $width;
  background: rgba(0, 0, 0, $opacity);
  transform: translateX(-100%);
  transition: 0.5s;
}
@mixin modalRightSide($width, $height, $bgColor, $opacity) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $width;
  height: $height;
  background-color: $bgColor;
  opacity: $opacity;
  transform: translateX(+100%);
  transition: 0.5s;
}