$color-primary: #b9000f;
$color-additional: #88000b;
$color-hover: #ff0015;
$color-active: #c9f896;
$color-accent: #ffee2e;
$color-mistake: #d31414;
$color-background: #000000;
$color-background-light: #555555;
$color-focus: #8d8d8d;
$color-shadow: transparentize($color-background, 0.2);
$color-text: #e8e9e9;
$color-border: #bbbbbb;
$color-light: #ffffff;
$color-dark: #000000;
$color-gray: #767474;
$color-gray_light: #e8e9e9;

$font-size-title1: 3.2rem;
$font-size-title2: 2.4rem;
$font-size-title3: 2rem;
$font-size-text_large: 1.8rem;
$font-size-text: 1.6rem;
$font-size-text_small: 1.4rem;

$input-height: 3rem;
$button-height: 3rem;
$gap: 1rem;
