$color-primary: #b9000f;
$color-additional: #88000b;
$color-hover: #ff0015;
$color-active: #c9f896;
$color-accent: #ffee2e;
$color-mistake: #d31414;
$color-background: #ff7b00;
$color-background-light: #555555;
$color-background-lightest: #e8e9e9;
$color-focus: #ffffff;
$color-shadow: transparentize($color-background, 0.2);
$color-text: #e8e9e9;
$color-text_dark: #000000;
$color-placeholder: #adadad;
$color-border: #bbbbbb;
$color-light: #ffffff;
$color-dark: #000000;
$color-gray: #767474;
$color-gray_light: #e8e9e9;

$font-size-title1: 3.6rem;
$font-size-title2: 2.4rem;
$font-size-title3: 2rem;
$font-size-text_largest: 2.4rem;
$font-size-text_large: 2rem;
$font-size-text: 1.8rem;
$font-size-text_small: 1.6rem;

$input-height: 3rem;
$button-height: 5rem;
$gap: 1rem;

$max-width-content: 480px;
$max-width-popup: 680px;
$max-width-layout: 1200px;
