html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-family: "Roboto";
  font-size: 10px;
  color: #e8e9e9;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e8e9e9;
}

a:visited {
  text-decoration: none;
}

@media (max-width: 550px) {
  html {
    font-size: 8px;
  }
}
/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-100italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pacifico-regular - latin_cyrillic */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pacifico-v22-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pacifico-v22-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  background: #ff7b00;
  color: #e8e9e9;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  flex-grow: 1;
  gap: 1rem;
}

.main_start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
}

.main_new-group-page {
  padding: 1rem;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
}

.main__wrapper_start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
}

.main__wrapper_new-group-page {
  padding: 0;
}

.main__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  background-color: #ff7b00;
}

.header__item {
  font-size: 3.6rem;
  transition: all 0.2s;
}

.header__item:hover {
  color: #ff0015;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  background-color: #ff7b00;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-size: 1.8rem;
  color: #88000b;
}

.footer__item {
  font-size: 2rem;
  color: #e8e9e9;
  transition: all 0.2s;
}

.footer__item_github-link {
  line-height: 35px;
}

.footer__item_rsschool-link {
  width: 74px;
  height: 30px;
  background-image: url("https://rs.school/images/rs_school_js.svg");
  background-color: #ffffff;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.footer__item_github-link:hover {
  color: #ff0015;
}

.footer__item_rsschool-link:hover {
  background-color: #ff0015;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #b9000f;
}

@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    font-size: 1.4rem;
  }
  .footer__item {
    font-size: 1.4rem;
  }
}
.shadow {
  display: none;
}

.shadow_active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.219);
}

.button {
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  height: 3rem;
  background-color: #e8e9e9;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #ff7b00;
  text-decoration: none;
  transition: all 0.2s;
}

.button_main-header {
  background-color: #ff7b00;
  color: #ffffff;
}

.button_currency {
  padding: 0;
  flex-grow: 1;
  background-color: #ff7b00;
  color: #ffffff;
}

.button_currency:first-of-type {
  text-align: left;
}

.button_currency:last-of-type {
  text-align: right;
}

.button:hover {
  transform: scale(1.05);
}

.button_currency:hover {
  transform: none;
}

.button_disabled {
  border: 1px solid #3b3b3b;
  background-color: #390000;
  cursor: default;
  color: #686969;
}

.button_disabled:hover {
  border: 1px solid #3b3b3b;
  background-color: #390000;
  cursor: default;
  box-shadow: none;
  color: #686969;
}

.logo {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 700;
  color: #b9000f;
}

h1 {
  margin: 0;
  align-self: center;
  text-align: center;
  font-size: 3.6rem;
}

h2 {
  margin: 0;
  background: linear-gradient(to right, #e8e9e9, #b9000f 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  font-size: 2.4rem;
  transition: all 0.3s;
}

h2:hover {
  background: linear-gradient(to left, #e8e9e9, #b9000f 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

h3 {
  margin: 0;
  font-size: 2rem;
  color: #e8e9e9;
  font-weight: 700;
}

.input {
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #e8e9e9;
  height: 3rem;
}

.input_new-group {
  width: 100%;
  text-align: center;
}

.input::-webkit-input-placeholder {
  font-size: 1.8rem;
  color: #adadad;
  text-align: center;
}

.input:focus {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  outline: none;
}

.input_valid {
  border: 1px solid #555555;
}

.input_valid:focus {
  color: #e8e9e9;
}

.input_invalid {
  position: relative;
  border: 1px solid #d31414;
  color: #d31414;
}

.input_invalid:focus {
  color: #e8e9e9;
}

.text {
  font-size: 1.8rem;
}

.text_start-page {
  padding: 1rem 7rem;
  text-align: center;
}

.wrapper {
  display: flex;
}

.wrapper_start-page-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper_currency,
.wrapper_input-new-group {
  width: 100%;
  padding: 0 8rem;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .wrapper_start-page-buttons {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */